
        .lista-container {
          border: 1px solid #ccc;
          border-radius: 6px;
          padding: 10px;
          width: 950px;
          transition: all 0.3s ease;
        }

        .scroll {
          max-height: 500px;
          overflow-y: auto;
        }

        .item-box {
          width: 100%;
          background: rgb(178, 232, 61);
          border: 1px solid #ddd;
          border-radius: 6px;
          padding: 10px;
          margin-bottom: 10px;
          box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
        }

        #box-historico {
          background-color: var(--branco);
          width: 100%;
          max-width: 1000px;
          border-radius: var(--raio-cartao);
          padding: 40px 30px;
          box-shadow: var(--sombra-fraca);
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 15px;
          transition: transform 0.3s ease, box-shadow 0.3s ease;
        }