<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página inicial</title>

  <link rel="stylesheet" th:href="@{/css/index.css}">
  <script th:src="@{/js/index.js}" defer></script>
</head>

<body>
  <!-- Cabeçalho -->
  <header class="cabecalho">
    <h1>Lil Lin</h1>

    <div class="menu-btn" id="menu-btn">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>

    <nav class="menu" id="menu">
      <a href="#">Trocar senha</a>
      <a href="#">Histórico de links</a>
      <a href="#">Sobre</a>
      <a href="#" class="log-out">Sair</a>
    </nav>
  </header>

  <!-- Conteúdo principal -->
  <main class="conteudo-principal">
    <h1>Encurtador de Link</h1>

    <div class="box">
      <h2>Link Original</h2>
      <input type="text" placeholder="Cole o link aqui..." id="link-original">

      <button id="btn-encurtar">Encurtar</button>

      <h2>Link Encurtado</h2>
      <input type="text" id="link-curto" readonly placeholder="Seu link aparecerá aqui">

      <button id="btn-copiar">Copiar</button>
    </div>
  </main>
</body>
</html>
