<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
    <!--Arquivo encurtadorLink coloquei 
    a explicação desses fragments-->
  <head th:replace="fragments/head :: head('Entrar')"></head>

  <body>
    <!--Arquivo encurtadorLink coloquei 
    a explicação desses fragments-->
  <div th:insert="fragments/header :: headerPublic"></div>

    <main class="conteudo-principal">
      <h1>Entrar</h1>

      <div class="box login-card">
        <form th:action="@{/login}" method="post" class="login-form">
          <div class="form-field">
            <label for="username">Email</label>
            <input type="email" id="username" name="username" placeholder="seu@exemplo.com" required />
          </div>

          <div class="form-field">
            <label for="password">Senha</label>
            <input type="password" id="password" name="password" placeholder="••••••••" required />
          </div>

          <div class="form-actions">
            <button type="submit">Entrar</button>
          </div>

          <div class="aux-links">
            <a th:href="@{/cadastro}" class="aux-link">Não tem conta? Cadastre-se</a>
            <a th:href="@{/trocar-senha}" class="aux-link">Esqueci minha senha</a>
          </div>
        </form>
      </div>
    </main>

    <!--Arquivo encurtadorLink coloquei 
    a explicação desses fragments-->
  <div th:insert="fragments/footer :: footer"></div>
  </body>
</html>
