<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<!--Arquivo encurtadorLink coloquei
a explicação desses fragments-->
<head th:replace="fragments/head :: head('Entrar')"></head>

<body>
<!--Arquivo encurtadorLink coloquei
a explicação desses fragments-->
<div th:insert="fragments/header :: headerPublic"></div>

<main class="conteudo-principal">
  <h1>Sobre</h1>

  <div class="box login-card">

  </div>
</main>

<!--Arquivo encurtadorLink coloquei
a explicação desses fragments-->
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>
